.masonry {
    /* Break columns at every size */
    column-count: 3;
    column-gap: 1em;
    

}
 
.masonry img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0px;
    margin-bottom: 2vh;
    display: block;
 
    
}


.masonry a {
    text-decoration: none;
     display: block;
     position: relative;
    z-index: 1;
    margin: -3vh 0 4vh;
    padding: 10px ;
    background-color: #c9c9c9;
    color: #222222;
    border: solid;
    border-width: 0px 1px 3px 1px;
    transition: background-color 0.5s ease;
}

.masonry a:hover {
    background-color: #00b106;

}



@media (max-width: 768px) {
   .masonry {
      column-count: 1;
      column-gap: .05em;
     
    }

    .masonry img {
       
    
      
    }
    
}



