
body {
     font-family: 'Roboto Mono', monospace;
     margin: 0 auto;
     
}
 header {
     display: flex;
     justify-content: space-between;
     position: sticky;
     top: 0;
     padding: 1.5vh;
     align-items: center;
     background-color: rgba(255, 255, 255, 0.625);
     z-index: 5;
     backdrop-filter: blur(10px);
}


canvas {
     position: fixed;
     top: 0;
     z-index: 0;
     opacity: .52;
    
}

 header .socials {
     margin-right: 10px;
     font-size: 1.5em;
}
 header a, header i {
     color: #414141;
     padding: .15em;
     border-radius: 100px;
}
 header a:hover, header i:hover {
     color: #747474;
     background-color: rgb(0, 0, 0);
}
 img {
     width: 256px;
     height: 100%;
     border-radius: 200px;
     right: 0;
}
 section {
   
     padding: 2vw;
     background-color: rgb(31, 31, 31);
     color: white;
     z-index: 1;
}
 .hero {
     padding: 90px;
     align-items: center;
}

.hero img {
     border: rgba(255, 255, 255, 0.488);
     border-style: solid ;
     border-width: 2px;
     border-radius: 200px;
     padding: 10px;
}
 section .CV {
     border-bottom: 1px solid #ffffff;
     position: relative;
     z-index: 3;
}
 .title {
     padding: 13vw;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
}
 .skills {
     border-radius: 1px;
     background-color: rgba(47, 47, 47, 0.748);
     padding: 5vw 120px 5vw;
     position: relative;
     z-index: 1;
}
 .skills i {
     font-size: 2em;
     padding: 20px;
}
 .skills p {
     padding: 2vh;
     text-align: justify;
}
 .skills video {
     margin: 0 auto;
     display: block;
     padding: 2vh;
     width: 80%;
}
 .skills div {
     text-align: center;
}
 .skills h2 {
     padding-left: 10px ;
 }


/* animations */



.zoom-in  {
     animation: zoomIn 1s ease-in-out forwards;
   }
 
   @keyframes zoomIn {
     0% {
       transform: scale(.5);
       opacity: 0;
     }
     100% {
       transform: scale(1);
       opacity: 1;
     }
   }

   
   .zoom-in-slow {
     animation: zoomIn 4s ease-in-out forwards;
   }
 
   @keyframes zoomIn {
     0% {
       transform: scale(.5);
       opacity: 0;
     }
     100% {
       transform: scale(1);
       opacity: 1;
     }
   }




@media (max-width: 768px) {

header {
     padding: 0.15vh;
     font-size: 13px;
     }
   
section {
     padding: 2vw;
     color: white;
}

.hero {
     padding:5px 20px 40px;
}

.title {
     flex-direction: column-reverse;
}

.skills {
     padding: 20px 2vw;
}

.skills video {
     width: 90%;
}

}
