
body {
     font-family: 'Roboto Mono', monospace;
     margin: 0 auto;
}
 header {
     display: flex;
     justify-content: space-between;
     position: sticky;
     top: 0;
     padding: 1.5vh;
     align-items: center;
     background-color: white;
     z-index: 2;
}
 header .socials {
     margin-right: 10px;
     font-size: 1.5em;
}
 header a, header i {
     color: #414141;
     padding: .15em;
     border-radius: 100px;
}
 header a:hover, header i:hover {
     color: #747474;
     background-color: rgb(0, 0, 0);
}
 img {
     width: 256px;
     height: 100%;
     border-radius: 200px;
     right: 0;
}
 section {
     padding: 2vw;
     background-color: rgb(31, 31, 31);
     color: white;
}
 .hero {
     padding: 90px;
     align-items: center;
}
 section .CV {
     border-bottom: 1px solid #ffffff;
}
 .title {
     padding: 13vw;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
}
 .skills {
     border-radius: 1px;
     background-color: rgb(47, 47, 47);
     padding: 5vw 120px 5vw;
}
 .skills i {
     font-size: 2em;
     padding: 20px;
}
 .skills p {
     padding: 2vh;
     text-align: justify;
}
 .skills video {
     margin: 0 auto;
     display: block;
     padding: 2vh;
     width: 80%;
}
 .skills div {
     text-align: center;
}

@media (max-width: 768px) {

header {
     padding: 0.15vh;
     font-size: 13px;
     }
   
section {
     padding: 2vw;
     color: white;
}

.hero {
     padding:5px 20px 40px;
}

.title {
     flex-direction: column-reverse;
}

.skills {
     padding: 20px 2vw;
}

.skills video {
     width: 90%;
}

}
